body {

	padding-top: 0px;
	background-color: #222222;


}

#content {
	background-color: #222222;
	width: 100%;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	size: fixed;
}

#name {
	color: #779999;
	background-color: #222222;
	padding-left: 10%;
	padding-top: 0%;
	font:  bold 50px Helvetica,  Arial, Verdana, Geneva, sans-serif;
}

#present {
	align: center;
	background-color: #222222;
	text-align: center;
	padding-left: 0px;
	padding-bottom: 10px;
	font: 20px Helvetica, Georgia, "Times New Roman", Times, serif;
	color: #779999;
}

#present_body a {
	font:  20px Helvetica,Palatino,Verdana, Geneva;

	color: #ccaa99;
	text-decoration: none;
}

#present_body a:hover {
	color: #ffffff;

}

#present_body {
	text-align: left;
	background-color: #222222;
	width:600px;
		padding-left: 25px ;
		font: 20px helvetica, Georgia, "Times New Roman", Times, serif;
		color: #779999;
	text-decoration: none;
}

#link {
	color: #667777;
}
#link a {
	font:bold 14px Helvetica,Palatino,Verdana, Geneva;
	color: #779999;
	text-decoration: none;
}

#link a:hover {
	color: #000000;

}

